.imgBox {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  background-image: url(./img/2.jpg);
  background-size: 100%;
  /* 小方块个数 */
  --n: 11;
  /* 每个小方块占的百分比 */
  --s: calc(100% / var(--n));

  /* 裁剪 */
  clip-path: polygon(50% calc(0% - var(--s) / 2),
      calc(100% + var(--s) / 2) 50%,
      50% calc(100% + var(--s) / 2),
      calc(0% - var(--s) / 2) 50%);
}