.container {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  overflow: hidden;
  /* 网格布局 */
  display: grid;
  box-sizing: border-box;
  padding: 0;

  /* 设置布局方式 */
  grid-template:
    "A A B"
    "C D B"
    "C E E";
  gap: 5px;
}

.item {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: solid 2px #000;
}

.item img {
  /* 之前设置的img width:100%;height:100%; 会导致grid布局不平均 */
  /* 块级格式化上下文 */
  width: calc(224% + 8px);
  height: calc(224% + 8px);
  object-fit: cover;
}

.item:nth-child(1) {
  grid-area: A;
}

.item:nth-child(2) {
  grid-area: B;
}

.item:nth-child(3) {
  grid-area: C;
}

.item:nth-child(4) {
  grid-area: D;
}

.item:nth-child(5) {
  grid-area: E;
}

/* 动画 */
.container {
  --r: 360deg;
}

.item img {
  --r: -360deg;
}

.container,
/* .container{ */
.item img {
  /* 匀速、无穷 */
  animation: ratation 10s linear infinite;
}

/* 到此处还不行，图片太小旋转有白边，之前设置的是img width:100%;height:100%; */
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 最大能够看到半径为50px的图片范围 */

@keyframes ratation {
  to {
    transform: rotate(var(--r));
  }
}